<div class="flex align-items-center" *ngIf="grupo">
  <div class="flex flex-grow-1 align-items-center">
    <div [ngSwitch]="tipoPreview(grupo)" class="mr-4">
      <img
        [src]="linkImagem(grupo.decoracao_id)"
        *ngSwitchCase="'img'"
        [style]="estiloImagem"
      />
      <i [style]="estiloIcone" [class]="grupo.icone" *ngSwitchCase="'icon'"></i>
    </div>

    <div>{{ grupo.nome }}</div>
  </div>
  <div class="flex flex-grow-0">
    <button
      pButton
      class="p-button-danger p-button-sm"
      icon="pi pi-times"
      pTooltip="Remover"
      (click)="onDeleteItem.emit(grupo)"
      *ngIf="podeDeletar"
    ></button>
  </div>
</div>
